<h1>Welcome <%= @user.email %></h1>

<p>You have requested a password reset for the <%= @account.name %> Open Interop account.</p>

<p>Please access the following link in order to reset your password.</p>

<p><a href="<%= @account.interface_path %>/reset-password?token=<%= @user.password_reset_token %>">Click here</a> to reset your password.</p>
